.App{
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.body{
  margin: 0;
  padding: 0; 
}

.Sidebar{
  height: 100%;
  width: 200px;
  background-color: gray
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList #active{
background-color: brown;

}
.SidebarList .row{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
}
.SidebarList .row:hover{
    cursor: pointer; 
    background-color: brown;


}
.row #icon{
  flex: 30%;
  display: grid; 
  place-content: center;
}
.row #title{
  flex: 70%;
}