.App{
  width: 100%;
  height: 100vh;
  background-color: white;
}

.body{
  margin: 0;
  padding: 0; 
}

.Sidebar{
  height: 100%;
  width: 200px;
  background-color: gray;
  
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList #active{
background-color: brown;

}
.SidebarList .row{
    width: 100%;
    height: 40px;
  
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
}
.SidebarList .row:hover{
    cursor: pointer; 
    background-color: brown;

}

.SidebarButton{
/*   import SegmentIcon from '@mui/icons-material/Segment'; */ 

}

.row #icon{
  flex: 30%;
  display: grid; 
  place-content: center;
}
.row #title{
  flex: 70%;
  place-content: center;
}

.nav{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: .5rem; 
  padding: 0 1rem;
}


.nav ul{
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a{
  color: inherit;
  height: 100%;
  display: flex;
  padding: .25rem;
}

