
body{

    height: 100 vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 35px; 
    width: 650px;
    background:#8A865D;
    color: black;
    border: 2px solid black;
   
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: black;
    font-size: 32px;
    font-weight: 700;
}

/* .underline{
    width: 61px;
    height: 6px;
    background-color: red;
    border-radius: 9px;
} */

.inputs{
    margin-top: 55px;
    display:flex;
    flex-direction: column;
    gap: 15px;
    
    
}

.input{
    display:flex;

    align-items:center;
    justify-content: center;
    margin:auto;
    width: 480px; 
    height: 80px;
    background-color:beige;
    border-radius: 6px;
    border: 2px solid black;
 

}
.icon{
    margin: 0px 30px; 
}

.input input{
    height: 30px;
    width: 300px;
    background:transparent;
    border:none;
    outline:none;
    color: gray;
    font-size: 19px;

}

.forminput{
    padding-top: 22px;
}

.forgot-password{
    padding-left: 62px;
    font-size:  18px
}
.forgot-password span{
    color:brown;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    width: 600px;
    margin: 40px auto;
}

.submit{
        display:flex;
        justify-content: center;
        align-items: center;
        background-color: brown;
        color: white;
        width:220px;
        height: 59px;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 700;
        cursor: pointer;

}

.gray{
    background-color: gray;

}

.submission{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: gray;
    color: white;
    width:220px;
    height: 59px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submission:hover{
    background-color: brown;

}