
.main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: papayawhip;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.welcome{
    font-size: 25px;
    text-align: left;
    margin-left: 20%;
}

.hr{
    background-color: red;
}


.factContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px;
    height: 300px;
    width: 300px;
    padding: 10px;


    border: 2px solid black;


}

.catbutt:hover{
    cursor: pointer;
    box-shadow: 200px;
}